background {
    background-image: url('https://www.designi.com.br/images/preview/10321399.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    width: 100%; 
    }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
     